@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
body{
    background-image: url(/assets/images/metalBackground.png);
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}
#index_logo{
    height:200px;
    width:220px;
}

.center { 
    display: flex;
    flex-flow: wrap;
  justify-content: center;
  align-items: center;
  break-after: always;
  }
  
  .center h1 {
    margin: 0;
    display:inline;
    font-family: 'Press Start 2P', cursive;
    font-size: x-large;
    color:white;
  }
  .index_button{
    margin-top: 30px;
    width: 100%;

    
  }
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ca2d2d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: 'Silkscreen', cursive;
  }
  
  .button:hover {background-color: #9b3d3d}
  
  .button:active {
    background-color: #9b3d3d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #startTimer{
    font-size: 50vh;
    color:white;
    font-family: 'Silkscreen', cursive;
  }

  #gameOverScreen{
    font-size: 10vh;
    color:white;
    font-family: 'Silkscreen', cursive;
    display: none;
     position: absolute;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width:300px;
    padding:20px;
    border: 5px solid red;
    background-color: rgba(255, 0, 0, 0.5);
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 20px;
   border: 5px dashed black;
    padding: 20px;
    margin-top: 70px;
    width:auto;
    height: auto;
    /* justify-content: space-around; */
    justify-content: center;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 25% 0;
    font-size: 30px;
    width:20vw;
    height:20vw;
    max-width: 105px;
    max-height: 105px;
    border-radius: 50%;
    border: 5px solid black;
  }

  @keyframes startBombColor {
    0%   {background-color: white;}
    25%  {background-color: yellow;}
    50%  {background-color: orange;}
    100% {background-color: red;}
  }

  .scoreCount{
    font-family: 'Silkscreen', cursive;
    margin-top: 20px;
    font-size: xx-large;
  }

  .slider {
    -webkit-appearance: none;
    width: 50vw;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }

  .topPad_large{
  padding-top: 30px;
  }
  .topPad_small{
    padding-top: 10px;
    }
  
  /* for medium screen sizes from 950px
@media screen and (min-width: 530px) {
  .grid-container > div {
    width:16vw;
    height:16vw;

  }
} */