@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-image: url("../images/metalBackground.png");
  background-color: rgb(78, 78, 78);
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#index_logo {
  height: 200px;
  width: 220px;
}

#game_logo {
  /* height:100px; */
  width: 40px;
  /* max-width: ; */
}

.center {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  /* break-after: always; */
}

.center h1 {
  margin: 0;
  display: inline;
  font-family: 'Press Start 2P', cursive;
  font-size: x-large;
  color: white;
}

.index_button {
  margin-top: 30px;
  width: 100%;

}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ca2d2d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: 'Silkscreen', cursive;
}

.button:hover {
  background-color: #9b3d3d
}

.button:active {
  background-color: #9b3d3d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#startTimer {
  font-size: 30vh;
  color: darkred;
  font-family: 'Silkscreen', cursive;
}

/* The modalStartCountdown (background) */
#modalStartCountdown {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 10%;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
}

/* modalStartCountdown Content */
.modalStartCountdown-content {
  margin: auto;
  padding: 20px;
  width: 80%;
  text-align: center;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes startBombColor {
  0% {
    color: white;
  }

  20% {
    color: yellow;
  }

  30% {
    color: orange;
  }

  50% {
    color: red;
  }

  100% {
    color: darkred;
  }
}

.gameOverFlash {
  border: 5px solid red !important;
  background-color: rgba(255, 0, 0, 0.5) !important;
}

.scoreCount {
  font-family: 'Silkscreen', cursive;
  margin-top: 20px;
  font-size: xx-large;
}

/* The Modal (background) */
#modalGameSettings {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}


/* Modal Content */
.modalGameSettings-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close_SettingsModal {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_SettingsModal:hover,
.close_SettingsModal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalGameSettings-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modalGameSettings-body {
  padding: 2px 16px;
}

.modalGameSettings-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

nav {
  margin: 10px;
}

nav button {
  background: none;
  margin: 0 10px 0 10px;
}

nav i {
  font-size: 2em;
  color: whitesmoke;

}

.grid-container {
  width: 100%;
  max-width: 500px;
  display: grid;
  gap: 5px;
  grid-template-columns: auto;
  /* background-color: #2196F3; */
  padding: 10px;
}

.grid-item {
  /* background-color: red; */
  position: relative;
  width: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  border-radius: 50%;
  /* border: 5px solid black; */
}

.bomb_icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  /* font-size: 0.5em */
  /* 1 pixel black shadow to left, top, right and bottom */
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
  color: black;
}

.center_items_inside {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The Modal (background) */
#modalGameOver {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 10%;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
}


/* Modal Content */
.modalGameOver-content {
  color:white;
  margin: auto;
  padding: 20px;
  width: 80%;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.5) !important;
  max-width: 500px;
  border-radius: 10px;
  border: 3px solid black;
}