@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-image: url("../images/metalBackground.png");
  background-color: rgb(78, 78, 78);
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
  border-top: 10px solid transparent;
}

#index_logo {
  height: 200px;
  width: 220px;
}

#game_logo {
  /* height:100px; */
  width: 40px;
  /* max-width: ; */
}

.center {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  /* break-after: always; */
}

.center h1 {
  margin: 0;
  display: inline;
  font-family: 'Press Start 2P', cursive;
  font-size: x-large;
  color: white;
}

.index_button {
  margin-top: 30px;
  width: 100%;

}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ca2d2d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: 'Silkscreen', cursive;
}

.button:hover {
  background-color: #9b3d3d
}

.button:active {
  background-color: #9b3d3d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#startTimer {
  font-size: 30vh;
  color: darkred;
  font-family: 'Silkscreen', cursive;
}

/* The modalStartCountdown (background) */
#modalStartCountdown {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 10%;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
}

/* modalStartCountdown Content */
.modalStartCountdown-content {
  margin: auto;
  padding: 20px;
  width: 80%;
  text-align: center;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes startBombColor {
  0% {
    color: white;
  }

  20% {
    color: yellow;
  }

  30% {
    color: rgba(255, 196, 0, 0.847);
  }
  40% {
    color: orange;
  }

  50% {
    color: darkorange;
  }

  100% {
    color: red;
  }
}

.gameOverFlash {
  border: 5px solid red !important;
  background-color: rgba(255, 0, 0, 0.5) !important;
}

nav button i:hover {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

#informationBtn i:hover{
  color:rgb(63, 133, 255);
}

#HomeBtn i:hover{
  color:brown;
}

#endGame i:hover{
  color:darkred;
}

#pauseGame i:hover{
  color:darkgoldenrod !important;
}

#showhighScoreBtn i:hover{
color:gold !important;
}

.scoreCount {
  font-family: 'Silkscreen', cursive;
  margin-top: 20px;
  font-size: xx-large;
  color:white;
}

/* Modal Content */
.modalGameSettings-content,
.modalGame-content  {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 5px solid white;
  border-radius: 16px;
  animation:gameSettingsFrameAnimation 4s infinite, animatetop 0.4s;
  overflow: hidden;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s */
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close_SettingsModal,
.close_HowToModal,
.close_AccessModal,
.close_HighScoresModal {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.close_SettingsModal:hover,
.close_SettingsModal:focus,
.close_HowToModal:hover,
.close_HowToModal:focus,
.close_AccessModal:hover,
.close_AccessModal:focus,
.close_HighScoresModal:hover,
.close_HighScoresModal:focus {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

#modalGameSettings-customBtn{ 
  color:white;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  background-color: #0091ff;
  background: linear-gradient(180deg,#0091ff,50%,#00d4ff);
  background-size: 200% 200%;

  -webkit-animation: u-d_Animation 2s linear infinite alternate;
  -moz-animation: u-d_Animation 2s linear infinite alternate;
  animation: u-d_Animation 2s linear infinite alternate;
}
/* .modalGameSettings-customBtn-org{
  background-color: #26A67D!important;
  background: linear-gradient(180deg,#26A67D,50%,#37d2a1)!important;
    background-size: 200% 200%;

  -webkit-animation: u-d_Animation 2s linear infinite alternate;
  -moz-animation: u-d_Animation 2s linear infinite alternate;
  animation: u-d_Animation 2s linear infinite alternate;
} */

#modalGameSettings-customBtn:hover{ 
color: #666;
}

.modalGameSettings-body,
.modalGame-body {
  padding: 2px 16px;
}

.modalGameSettings-body > *,
.modalGame-body > *{
  margin: 5px 0;
}

nav {
  margin: 10px;
}

nav button {
  background: none;
  margin: 0 10px 0 10px;
}

nav i {
  font-size: 2em;
  color: whitesmoke;

}

.grid-container {
  width: 100%;
  max-width: 500px;
  display: grid;
  gap: 5px;
  grid-template-columns: auto;
  /* background-color: #2196F3; */
  padding: 10px;
}

.grid-item {
  /* background-color: red; */
  position: relative;
  width: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  border-radius: 50%;
  /* border: 5px solid black; */
}

.bomb_icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  /* font-size: 0.5em */
  /* 1 pixel black shadow to left, top, right and bottom */
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
  color: black;
}

.center_items_inside {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The Modal (background) */
#modalGameOver {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 10%;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
}


/* Modal Content */
.modalGameOver-content {
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: auto;
  padding: 20px;
  width: 80%;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.5) !important;
  max-width: 500px;
  border-radius: 10px;
  border: 3px solid black;
}

#modalGameSettings-warning{
  color: rgb(0, 0, 0);
  text-decoration: underline;
  font-style: italic;
  background-color: rgba(255, 0, 0, 0.5);
  border: 3px solid black;
  padding: 3px;
  margin: 0!important;
}

#customGameSettings{
  display: none;
  border: 3px solid black;
  border-radius: 16px;
  padding:5px;
}

#customGameSettings > *{
  margin: 5px 0;
}

.modalBtn{
  border: 2px solid black;
  padding: 10px;
  border-radius: 6px;
  background-color:#eee;
  font-size: 16px;
  letter-spacing: 2px;
}
.modalPadding{
  padding:1px !important;
}

#endCurrentGameBtn{
  color:white;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  display: none;
border-color: black;
background-color: red;
background: linear-gradient(90deg,#FF7070,70%,red);
background-size: 200% 200%;

-webkit-animation: l-r_redAnimation 2s linear infinite alternate;
  -moz-animation: l-r_redAnimation 2s linear infinite alternate;
  animation: l-r_redAnimation 2s linear infinite alternate;
}

#endCurrentGameBtn:hover{
  border-color: red;
  color:#666
}

.redModalBtn{
  color:white;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
border-color: black;
background-color: red;
background: linear-gradient(90deg,#FF7070,70%,red);
background-size: 200% 200%;
-webkit-animation: l-r_redAnimation 2s linear infinite alternate;
  -moz-animation: l-r_redAnimation 2s linear infinite alternate;
  animation: l-r_redAnimation 2s linear infinite alternate;
}
.redModalBtn:hover{
  border-color: red;
  color:#666
}

@-webkit-keyframes l-r_redAnimation {
  0%{background-position:0% 0%}
  /* 50%{background-position:100% 0%} */
  100%{background-position:100% 0%}
}
@-moz-keyframes l-r_redAnimation {
  0%{background-position:0% 0%}
  /* 50%{background-position:100% 0%} */
  100%{background-position:100% 0%}
}
@keyframes l-r_redAnimation { 
  0%{background-position:0% 0%}
  /* 50%{background-position:100% 0%} */
  100%{background-position:100% 0%}
}


@keyframes gameSettingsFrameAnimation{
  50%{border-color: #666;}
}


.startGameBtn{
  color:white;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  background-color: #FF9900;
  background: linear-gradient(180deg,#FF9900,50%,#FFC670);
  background-size: 200% 200%;

  -webkit-animation: u-d_Animation 2s linear infinite alternate;
  -moz-animation: u-d_Animation 2s linear infinite alternate;
  animation: u-d_Animation 2s linear infinite alternate;
}

.highScoreBtn{
  background-color: #2aa42e;
  background: linear-gradient(180deg,#2aa42e,50%,#abe3aa);
}
.startGameBtn:hover{
  color:#666;
  /* border-color: #666; */
}

@-webkit-keyframes u-d_Animation {
  0%{background-position:0% 0%}
  /* 50%{background-position:100% 0%} */
  100%{background-position:0% 100%}
}
@-moz-keyframes u-d_Animation {
  0%{background-position:0% 0%}
  /* 50%{background-position:100% 0%} */
  100%{background-position:0% 100%}
}
@keyframes u-d_Animation { 
  0%{background-position:0% 0%}
  /* 50%{background-position:100% 0%} */
  100%{background-position:0% 100%}
}





/* for tablet screen sizes and above */
@media screen and (min-width: 768px){


  .modalGameSettings-content, .modalGame-content{
    width:60%;
    max-width: 700px;
  }

  
}

.combo{
  border: 1px solid black;
  border-radius: 3px;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height:5px;
  border: 1px solid black;
  border-radius: 5px;
  background: #AAA;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
    border-radius:50%;
  height: 15px;
  width: 15px;
  background: #0091ff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.sliderNums{
  font-weight:bolder;
  font-size: 17px;
  color:#666;
}
#thePlayerScore {
  color: mintcream;
  font-size: 60px;
}

/* The Modal (background) */
/* #modalGameHowTo {

}


#modalGameSettings {

} */
/* The Modal (background) */
.modalBackground{
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modalGameHowTo-color {
  background-color: rgb(63, 133, 255);
}

.modalHighScores-color  {
  background-color: darkgoldenrod;
}

.modalGameAccess-color {
  background-color: #666666;
}

.modalGameSettings-color {
  background-color: #26A67D;
}

.modalGameSettings-custom{
  background-color: #0091ff !important;
}

.modalHeader{
  padding: 2px 16px;
  color: white;
}
.modalFooter{
  padding: 2px 16px;
  color: white;
  min-height: 42px;
}

/* Switch CSS code */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch_Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch_Slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch_Slider {
  background-color: #2196F3;
}

input:focus + .switch_Slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch_Slider:before {
  -webkit-transform: translateX(39px);
  -ms-transform: translateX(39px);
  transform: translateX(39px);
}

/* Rounded sliders */
.switch_Slider.round {
  border-radius: 34px;
}

.switch_Slider.round:before {
  border-radius: 50%;
}
/* end of Switch CSS */

.sound-icon{
  margin: 15px;
}
.yllw-bomb{
color: yellow;
}
.orng-bomb{
color:orange;
}
.red-bomb{
color:red;

}
.white_shadow_border{
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.bomb_instruction_border{
  border: 2px solid black;
  background-color: #999;
  padding: 5px;
  font-size: 1.3em;
  margin: 5px;
}
.center_modal_content{
text-align: center;
list-style-position: inside;
height: 60vh;
}
.highScoreGrid{
  text-align: center;
  display: inline-block;
}
.gridhscontainer{
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  background-color:goldenrod;
  padding: 10px;
  border-radius: 20px;
}

.gridhscontainer .hsGridItem {
  border: 2px solid black;
  display: inline;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.hsGridItem table{
  margin-left: auto;
    margin-right: auto;
    width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.hsGridItem table td{
border:2px solid red;
overflow: hidden;
}
.ten{
width:15%;
}
.thirty{
  width:30%;
}
.thirty_hide{
  width:30%;
}
#newHSName{
  width: 80%;
  float: left;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
/* #newHSName:focus, #newHSName:focus + #newHSButton {
  border: 3px solid #666;
} */
#newHSButton{
  float: left;
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  background: #2196F3;
  color: white;
  border: 3px solid #ccc;
  border-left: none;
  cursor: pointer;
}

#newHSButton:hover{
  background: #0b7dda;
}

#newHSInput::after{
  content: "";
  clear: both;
  display: table;
}
#newHSInput{
display:none;
}
#volume_Section{
  display:none;
}

#HSAcceptMessage{
  display: none;
  color: green;
  letter-spacing: 1px;
  background-color: #fff;
  padding: 12px 20px;
  margin: 8px 0;
  text-shadow: 0 0 BLACK;
  box-sizing: border-box;
  border: 3px solid #666;
}

/* for tablet screen sizes and above */
@media screen and (max-width: 425px){
  .thirty_hide{
    display: none;
  }
}